$layout-background-color:transparent;
$panel-background-color: #f0f2f5;

#themes-container.lite {

    .dashboard-layout {
        background-color: $layout-background-color;
    }

    .dashboard-header {
        background-color: $panel-background-color;

        &.dashboard-tools {
            
            .themer-btn {
                path {
                    transform: rotate(45deg);
                    transform-origin: center;
                }
            }
        }

        .dashboard-menu {
            .ant-menu {
                background-color: inherit;

                .ant-menu-item {
                    &.ant-menu-item-selected {
                        background-color: gray;

                        a {
                            color: white
                        }

                    }
                }
            }
        }
    }
}