$layout-background-color:transparent;
$primar-dark-background: #4e4e4e;
$panel-background-color: #868686;

#themes-container.dark {

    background-color: $primar-dark-background;

    .dashboard-layout {
        background-color: $layout-background-color;
    }

    .dashboard-header {
        background-color: $panel-background-color;

        .dashboard-tools {
            
            .themer-btn {
                path {
                    transform: rotate(215deg);
                    transform-origin: center;
                }
            }
        }

        .ant-btn-text {
            color: white;
        }

        .ant-divider {
            border-color: rgb(158, 158, 158);
        }

        .dashboard-menu {
            .ant-menu {
                background-color: inherit;

                .ant-menu-item {
                    a {
                        color: white;
                    }
                    &.ant-menu-item-selected {
                        background-color: rgb(218, 218, 218);

                        a {
                            color: rgb(59, 59, 59)
                        }

                    }
                }
            }
        }
    }
}