$padding-vertical: 6px;
$line-height-menu: 46px;
$icons-panel-header: 20px;
$action-header-padding:1px;
$layout-padding:3vw;

#application {
    height: inherit;

    #themes-container {
        height: inherit;
    }
}

.ant-tooltip {
    pointer-events: none;
}

.dashboard-header {
    height: auto;
    padding: 0 $layout-padding;

    .ant-page-header {

        padding: 0;

        .ant-page-header-content {
            padding-top: 0;
        }

        .ant-divider {
            height: 100%;
        }

        .header-center {
            text-align: right;
        }

    }

    &.dashboard-pages {
        margin-bottom: 10px;
    }

    &.dashboard-tools {

        padding-top: $action-header-padding;
        padding-bottom: $action-header-padding;

        .ant-btn svg {
            transform: translate(0px, 1px);
        }

        .design-listmode {
            transform: rotate(270deg);
            transform-origin: center;
        }
    }

    .dashboard-menu {
        &.ant-page-header {
            padding-bottom: $padding-vertical;
            width: 100%;
        }

        .ant-menu {

            border-bottom-width: 0;
            line-height: $line-height-menu;

            .ant-menu-item {
                top: 0;
                margin: 0;
                padding: 10px 10px 0;
            }
        }

        .dashboard-logo {

            margin-top: $padding-vertical;

            .ant-typography {
                white-space: nowrap;
            }
        }
    }
}

.dashboard-content {
    padding: 10px $layout-padding;
    margin: 0;
    height: calc(100% - 100px);
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    bottom: 0;

    .dashboard-content-loader {
        text-align: center;
        margin: 20% auto;
        display: block;
    }
}

.designTreeWrapper {

    .designParentChildren {
        clear: both;

        >div {
            float: left;
        }
    }

    .designParentChildren>[class^="hyperNodeWrapper"] {

        &[undefined] {
            [class^="hyperNode"] {
                cursor: default;
            }
        }

        width: 200px;
        margin-right: 20px;

        >div {
            width: auto;
        }
    }

    [class*="dragZoneItemSelected"] {
        background-color: rgba(58, 153, 74, 0.842);
        border: 1px solid black;

    }



}

.ant-tree .ant-tree-node-content-wrapper {
    max-width: 400px;
    padding: 0;
}

.designs-node {
    padding-left: 4px;
    position: relative;
    border: 2px solid #aaa;

    .designs-node-tools {
        float: right;
        padding: 2px 6px 0;

        .design-active {
            color: green;
        }

        .design-passive {
            color: red;
        }

        .design-removed {
            color: grey;
        }
    }
}